<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s3k.backend.home.mapper.HomeMapper">

  <select id="existsByWalkingPathId" resultType="boolean">
    SELECT EXISTS(
        SELECT 1
        FROM walking_path
        where id = #{walkingPathId}
    )
  </select>

  <select id="findWalkingPathById" resultType="com.s3k.backend.home.entity.WalkingPath">
    SELECT
        id
        , walking_path_title        AS walkingPathTitle
        , image_exposure            AS imageExposure
        , walking_path_start        AS walkingPathStart
        , walking_path_end          AS walkingPathEnd
        , walking_total_time        AS walkingTotalTime
        , walking_count             AS walkingCount
        , walking_distance          AS walkingDistance
        , walking_kcal              AS walkingKcal
        , rest_time                 AS restTime
        , walking_path_start_name   AS walkingPathStartName
        , walking_path_end_name     AS walkingPathEndName
        , create_datetime           AS createDatetime
        , update_datetime           AS updateDatetime
        , delete_datetime           AS deleteDatetime
        , is_deleted                AS isDelete
    FROM walking_path
    where id = #{walkingPathId}
  </select>

  <select id="findAllStopoverByWalkingPathId" resultType="com.s3k.backend.home.entity.Stopover">
    SELECT
        stopover_comment as stopoverComment
        , stopover_category as stopoverCategory
        , address
    FROM stopover
    where walking_path_id = #{walkingPathId}
  </select>

  <select id="findRepresentativePhoto" resultType="string">
    SELECT
        f.file_path
    FROM
        file f
    JOIN stopover_file sf
        ON f.id = sf.file_id
    WHERE sf.is_representative = TRUE
      AND sf.stopover_id IN
      <foreach collection="list" item="item" open="(" close=")" separator=",">
        #{item.id}
      </foreach>
    ORDER BY f.create_datetime DESC NULLS LAST, f.id DESC
  </select>
</mapper>
