<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s3k.backend.member.mapper.MemberMapper">

  <select id="existsMemberBySnsId" resultType="boolean">
    SELECT count(*) > 0
    FROM MEMBER
    WHERE sns_id = #{snsId}
  </select>

  <select id="existsByNickname" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM MEMBER
    WHERE nickname = #{nickname}
  </select>

  <insert id="insertPendingMember" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO MEMBER
    (
      sns_id,
      sns,
      role,
      status
    )
    VALUES
    (
      #{snsId},
      #{sns},
      #{role},
      #{status}
    )
  </insert>

  <update id="updatePendingMemberNickname">
    UPDATE MEMBER
    SET nickname = #{nickname}
    WHERE sns_id = #{snsId}
  </update>

  <update id="updateActiveMember" >
    UPDATE MEMBER
    SET
        nickname = #{nickname},
        gender = #{gender},
        birth_year = #{birthYear},
        address = #{address},
        tos = #{tos},
        privacy_policy = #{privacyPolicy},
        role = #{role},
        status = #{status}
    WHERE   id = #{id}
        AND sns_id = #{snsId}
  </update>

  <insert id="createMember" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO member
    (
      sns_id,
      sns,
      nickname,
      tos,
      privacy_policy,
      agree_at,
      role,
      status,
      created_at,
      updated_at
    )
    VALUES
    (
      #{snsId},
      #{sns},
      #{nickname},
      #{tos},
      #{privacyPolicy},
      #{agreeAt},
      #{role},
      #{status},
      #{createdAt},
      #{updatedAt}
    )
  </insert>

  <update id="updatePendingMemberProfile">
    UPDATE MEMBER
    SET profile_image_id  = #{fileId}
    WHERE sns_id = #{snsId}
  </update>

  <select id="getMemberDetail" resultType="com.s3k.backend.member.entity.Member">
    SELECT
    id,
    sns_id,
    sns,
    nickname,
    tos,
    privacy_policy,
    agree_at,
    role,
    status,
    created_at,
    updated_at
    FROM member WHERE id = #{memberId}
  </select>

  <select id="getMemberDetailBySnsId" resultType="com.s3k.backend.member.entity.Member">
    SELECT
      id,
      sns_id,
      sns,
      nickname,
      gender,
      address,
      tos,
      privacy_policy,
      third_party_policy,
      location_policy,
      role,
      status,
      profile_image_id,
      birth_year,
      agree_at,
      created_at,
      updated_at,
      deleted_at
    FROM member
    WHERE sns_id = #{snsId}
  </select>
</mapper>
