<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s3k.backend.member.mapper.MemberMapper">

  <select id="existsMemberBySnsId" resultType="boolean">
    SELECT count(*) > 0
    FROM member
    WHERE sns_id = #{snsId}
  </select>

  <select id="existsByNickname" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM member
    WHERE nickname = #{nickname}
  </select>

  <insert id="insertPendingMember" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO member
    (
      sns_id,
      sns,
      role,
      status,
      create_datetime
    )
    VALUES
    (
      #{snsId},
      #{sns},
      #{role},
      #{status},
      NOW()
    )
  </insert>

  <update id="updatePendingMemberNickname">
    UPDATE
        member
    SET
        nickname = #{nickname},
        update_datetime = NOW()
    WHERE
        sns_id = #{snsId}
  </update>

  <update id="updateActiveMember" >
    UPDATE
        member
    SET
        nickname = #{nickname},
        gender = #{gender},
        address = #{address},
        birth_year = #{birthYear},
        role = #{role},
        status = #{status},
        tos = #{tos},
        privacy_policy = #{privacyPolicy},
        privacy_policy_agree_at = NOW(),
        third_party_policy = #{thirdPartyPolicy},
        location_policy = #{locationPolicy},
        update_datetime = NOW()
    WHERE   id = #{id}
        AND sns_id = #{snsId}
  </update>

  <update id="updatePendingMemberProfile">
    UPDATE
        member
    SET
        profile_image_id  = #{fileId}
    WHERE
        sns_id = #{snsId}
  </update>

  <select id="getMemberDetailBySnsId" resultType="com.s3k.backend.member.entity.Member">
    SELECT
      id,
      sns_id,
      sns,
      nickname,
      gender,
      address,
      birth_year,
      profile_image_id,
      role,
      status,
      tos,
      privacy_policy,
      privacy_policy_agree_at,
      third_party_policy,
      location_policy,
      create_datetime,
      update_datetime,
      delete_datetime
    FROM member
    WHERE sns_id = #{snsId}
  </select>
</mapper>
